<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav>
<router-outlet></router-outlet>
<!-- Footer -->
<div class="page-footer font-small blue mt-2" 
style="background-color: #772953; color: black; margin-bottom: 0px;">
    <div class="social-media-icons col-xs-12">
        <ul class="list-inline col-xs-12" style="margin-bottom: 0px;">
          <a href="#"><i class="fa fa-whatsapp fa-2x" style="color: rgb(21, 116, 21);"></i></a>
          <a href="#"><i class="fa fa-facebook-official fa-2x" style="color: rgb(7, 119, 211);"></i></a>
          <a href="#"><i class="fa fa-instagram fa-2x" style="color: lightpink;"></i></a>
          <a href="#"><i class="fa fa-twitter-square fa-2x" style="color: rgb(7, 119, 211);"> </i></a>
          <a href="#"><i class="fa fa-youtube-square fa-2x" style="color: white;"></i></a>
          <a href="#"><i class="fa fa-rss-square fa-2x"></i></a>               
        </ul>
      </div>
    </div>

<footer
  class="page-footer font-small blue  "
  style="background-color: #772953; color: white;margin-top: 0px; margin-bottom: 0px;"
>
  <!-- Copyright -->
  <p class="footer-copyright text-muted text-center py-3">Copyright © 2019 LoveLink, Inc.</p>
  <!-- Copyright -->
</footer>
<!-- Footer -->
