<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav>
<router-outlet></router-outlet>

<footer class="footer">
  <div class="container">
    <img
      src="../../favicon.ico"
      style="border: none; font-size: xx-large; text-align: left;"
      class="text-md-left "
      alt="LoveLink"
    />
    <a class="navbar-brand text-md-left " [routerLink]="['/home']">LoveLink</a>

    <a class="mr-2" href="">About Us</a>
    <a class="mr-2"  href="">Privacy Policy</a>
    <a class="mr-2"  href="">Contact Us</a>

    <span class="text-muted  ml-5"> Copyright © 2019 LoveLink, Inc.</span>
    
  </div>
</footer>
<!-- <app-home></app-home> -->
